body {
	/*background: #959796 url(/static/images/black-sky.jpg);*/
	/* background: #fffffb; */
	background: #333 url(/static/images/black-sky2.jpg);
	color: #fff;
}

.gallery-set {
}

.g-preview {
	margin: 20px 0px;
	height: 166px;
	width: 250px;
	position: relative;
}

.clip-photo {
	border: 5px solid #fff;
	position: absolute;
	margin: 0 auto;
	overflow: hidden;
	float: left;
	width: 230px;
	height: 153px;
}

.clip-photo img {
	width: 230px;
	height: auto;
	-moz-box-shadow: 1px 1px 10px #000;
	-webkit-box-shadow: 1px 1px 10px #000;
	box-shadow: 1px 1px 10px #000;
}
