body {
	background: #959796 url(/static/images/wood-repeat.jpg);
	color: #fff;
}

.ph-sidebar {
	border-style:none;
	padding: 10px 0px 10px 0px;
	margin-bottom: 30px;
	background: rgba(0, 0, 0, 0.5);
	/* text-shadow: 0 1px 0 #fff; */
	/* background-color: #f7f5fa; */
	min-height: 300px;
}

.ph-sidebar legend {
	text-align:center;
}

.ph-sidebar small {
	color: #fff;
}

.ph-sidenav button {
	background: rgba(0, 0, 0, 0);
	margin-bottom: 5px;
	color: #fff;
}

.ph-sidenav button:hover {
	color: #fff;
	background-color: rgba(0, 0, 0, 0.5);
}

.ph-sidenav button:focus {
	color: #fff;
	background-color: rgba(0, 0, 0, 0.5);
	outline: none;
}

.g-small {
	height: 150px;
	margin: 10px;
}

/*
.g-small a {
	display: table-cell;
	vertical-align: middle;
	width: 180px;
	height: 140px;
}

.g-small a img {
	display: block;
	width: 100%;
	height: auto;
}
*/

.g-img {
	float: left;
	-webkit-transition-duration: 0.5s;
}

.g-img img {
	width: 100%;
	margin: 5px;
	border:1px solid #fff;
	overflow: hidden;
}

.g-img .mask{
	width: 90%;
	position: absolute;
	height: 100%;
	overflow: hidden;
}

.ops-btns {
	margin: 0 0 0 10px;
}

.ops-btns a:hover {
	color: #8cea00;
	cursor: pointer;
}
.ops-btns a {
	color: #fff;
}

